.elements {
  max-width: 880px;
  display: grid;
  padding-top: 50px;
  gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.elements__card {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
}
.elements__image1 {
  width: 282px;
  height: 282px;
  background-image: url(../images/element1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.elements__image2 {
  width: 282px;
  height: 282px;
  background-image: url(../images/element2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.elements__image3 {
  width: 282px;
  height: 282px;
  background-image: url(../images/element3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.elements__image4 {
  width: 282px;
  height: 282px;
  background-image: url(../images/element4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.elements__image5 {
  width: 282px;
  height: 282px;
  background-image: url(../images/element5.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.elements__image6 {
  width: 282px;
  height: 282px;
  background-image: url(../images/element6.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.elements__info {
  color: #000;
  padding-top: 25px;
  width: 246px;
  margin: 0 auto 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.elements__location {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.elements__like {
  background-image: url(../images/Like.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  border: none;
  margin-left: auto;
  width: 21px;
  height: 19px;
}
.elements__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
