.elements {
  max-width: 880px;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.elements__card {
  width: 282px;
  height: 361px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.elements__image {
  width: 282px;
  height: 282px;
  background-image: url(../images/element1.jpeg);
  border-radius: 10px 10px 0 0;
}
