.header {
  max-width: 880px;
  height: 74px;
  margin: 0 auto 0;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}
.header__title {
  margin: 0;
  font-size: 32px;
}
#header__sup {
  margin: 0;
  font-size: 12px;
  position: relative;
  top: -12px;
}
