.popup-images {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.popup-images__opened {
  display: flex;
}
.popup-images__container {
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
}
.popup-images__image {
  width: 100%;
  height: 100%;
}
.popup-images__location {
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.popup-images__close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url("../images/Close-Icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -40px;
  top: -40px;
}
.popup-images__close:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (width < 880px) {
  .popup-images__close {
    width: 26px;
    height: 26px;
    right: 0;
    top: -40px;
  }
}
