.popups {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__opened {
  display: flex;
  cursor: pointer;
}
.popup__window {
  position: relative;
  width: 430px;
  padding: 0 36px 20px;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  cursor: auto;
}
.popup__form {
  display: flex;
}
.popup__fieldset {
  width: 100%;
  padding: 0;
  border: none;
  display: flex;
  flex-flow: column nowrap;
}
.popup__style {
  width: 100%;
  padding: 0;
  border: 0;
}
.popup__title {
  margin-top: 34px;
}
.popup__name {
  margin-top: 54px;
  border-bottom: 1px solid #c4c4c4;
}
.popup__aboutme {
  margin-top: 30px;
  border-bottom: 1px solid #c4c4c4;
}
.popup__save {
  margin-top: 48px;
  font-size: 18px;
  height: 50px;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
}
.popup__save:hover {
  cursor: pointer;
  opacity: 0.5;
}
.popups__close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url("../images/Close-Icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -40px;
  top: -40px;
}
.popups__close:hover {
  cursor: pointer;
  opacity: 0.5;
}
#popup-images__container {
  cursor: auto;
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
}
#popup-images__image {
  width: 100%;
  height: 100%;
}
#popup-images__location {
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.form__inputs_type_error {
  border-bottom: 1px solid red;
}
.form__inputs-error_active {
  color: red;
  font-size: 12px;
}
.popup__error {
  display: block;
}
.form__submit_inactive {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  opacity: 20%;
  pointer-events: none;
}
@media (width < 880px) {
  .popup__window {
    width: 282px;
    box-sizing: border-box;
  }
  .popups__close {
    width: 40px;
    height: 40px;
    right: 0;
    top: -50px;
  }
}
